
.banner{
    background-color: #001835;
    min-height:1500px;
    color: white;
}


#form lottie-player{
    margin: auto;
    width: 75px;
    top: 0px;
}

#form h1{
    color: white;
    text-align: center;
    padding: 0px 0px 30px;
}

#form{
    position: absolute;
    top:200px;
    left:0px;
    right:0px; 
    margin: auto;  
    background-color: #00aeff36;
    padding: 25px;
    width: 600px;
}

.input-group.mb-3{
    height: 60px;
}
#floatingInputGrid{
    height: 250px;
}

#container{
    position: absolute;
    background-color: #00aeff36;
    top:800px;
    left:0px;
    right:0px;
    color: white;
    width: 600px;
    height: 500px;
    text-align: center;
    overflow-y: scroll;
       
}

#container th{
    color: white;

}
#container tbody{
    color: white;
}

/* Mobile */
@media only screen and (max-width:1250px){
    #form{
        width: 90%;
    }
    #container{
        width: 90%;

    }

}