.main-content{
    background: rgb(63,94,251);
    background: linear-gradient(133deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.api-menu{
    padding: 150px 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.api-card{
    width: 300px; height: 300px;
    max-width: 300px;
    max-height: 300px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.175);
    transition: 0.75s;
}
.api-card:hover{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 0 rgb(85, 30, 255) inset, 0 0 10px 4px rgb(85, 30, 255);
    transform: scale(1.05);
    transition: 0.1s;
}

.api-card img{
    display: block;
    margin: auto;
    padding: 0px;
    max-height: 125px;
    max-width: 125px;
}

.api-card button{
    margin-bottom: 0px;
    outline: none;
    min-height: 75px;
    width: 100%;
    border-style: none;
    color: #fff;
    box-shadow: 0 0 40px 40px dodgerblue inset, 0 0 0 0 dodgerblue;
    transition: 150ms ease-in-out;
    background: rgb(70,47,149);
    background: linear-gradient(45deg, rgba(70,47,149,1) 15%, rgba(41,26,92,1) 100%);
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* .api-card button:hover{
    box-shadow: 0 0 10px 0 dodgerblue inset, 0 0 10px 4px dodgerblue;
    transition: 150ms ease-in-out;
    font-weight: bold;
    outline: none;
} */

.api-card button:active{
    box-shadow: 0 0 10px 0 dodgerblue inset, 0 0 10px 4px dodgerblue;
    transition: 50ms ease-in-out;
    font-size: 16px;
    outline: none;

}

#api-content{
    margin: 25px;
    min-height: fit-content;
    
}

.api-content-message{
    margin: 50px auto;
}

.api-control{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.api-control button{
    margin: 5px;
}

.trivia-quiz-control{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.random-trivia-input{
    border-style: none;
    width: 100%;
    padding: 20px;
    margin: auto;
}

.random-trivia-submit{
    color: white;
    border-style: none;
    background-color: rgb(0, 200, 0);
    width: 50%;
    padding: 20px;
    margin: 0px;
}

.random-trivia-skip{
    color: white;
    border-style: none;
    background-color: rgb(255, 166, 0);
    width: 50%;
    min-width: 50px;
    padding: 20px 0px;
    margin: 0px;
}

#doggoDiv img{
    display: block;
    margin:auto;
    width: 70%;
}

.anime-baguette-container div{
    display: block;
    margin: 50px;
    width: 75%;
    justify-content: center;
}

.anime-baguette-container img{
    margin: auto;
    flex: auto;
    height: 100%;
    width: 100%;
}

.anime-baguette-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
}