html{
    scroll-behavior: smooth;
}
/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #002b5c; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    margin: 0px;
    color: white;
}
nav{
    min-height: 100px;
}
nav .container-fluid{
    margin: 0px 50px;
}
#current-page{
    color: rgb(255, 255, 255);
}

footer{
    background-color: #212529;
}
.footer-links{
    margin-bottom: 0px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-links li{
    display: inline-block;
    list-style: none;
}
.btn.btn-secondary.dropdown-toggle{
    background-color: transparent;
    border-color: transparent;
}

/* BACK TO TOP BTN */
#back-to-top-btn {
    display: inline-block;
    background-color: rgba(0, 77, 172, 0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 1s;
    z-index: 5;
}
#back-to-top-btn:hover{
    transition: 0.5s;
    transform: scale(1.15);
}
#back-to-top-btn:active{
    transition: 0.25ms;
    transform: scale(0.95);
}
  /* #back-to-top-btn::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #back-to-top-btn:hover {
    cursor: pointer;
    background-color: #333;
  }
  #back-to-top-btn:active {
    background-color: #555;
  } */

  /* Mobile */
@media only screen and (max-width:1250px){
  nav{
    z-index: 5;
  }

  .footer-links{
    padding: 0;
    font-size: small;
    flex-direction: column;
    padding: 15px 0px 75px;
  }
  .footer-links .nav-link{
    font-size: 16px;
    margin: 5px;
  }

  #back-to-top-btn{
    bottom: 45px;
  }
}
